
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg: #E3F2FD;        /* Fundo calmo e profissional */
    --card: #FFFFFF;      /* Cartões limpos */
    --text: #333333;      /* Texto legível e neutro */

    /* Cores baseadas na psicologia do azul */
    --accent: #1E88E5;        /* Azul principal: confiança e foco */
    --accent-dark: #0D47A1;   /* Azul escuro: ótimo para hover */
    --border: #BBDEFB;        /* Azul muito claro para bordas */
    
    /* Status e feedback */
    --success: #43A047;       /* Verde saudável para tarefas concluídas */
    --danger: #E53935;        /* Vermelho claro para deletar */
}

body {
    background-color: var(--bg);
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    color:var(--text);
} 

#container {
    width: 100%;
    max-width: 500px; /*largura maxima*/
    background-color:var(--card);
    margin: 40px auto 0 auto;
    padding: 20px 30px; /*da um espeço entre o conteudo e a borda*/
    border-radius:10px;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1); /*sombra*/

}

h1 {
    color: var(--accent-dark);
    font-weight: 600; /* o quanto a fonte e forte*/
    font-size: 28px; /*tamanho da fonte*/
    margin-bottom: 20px; /*afasta o h1 do formulario*/
}

.field {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 14px;

}

label {
    font-weight: 600;
    color: #1a1a1a;
    font-size: 14px;
}

input, textarea, select {
    background-color: #fff;
    border: 1px solid var(--border);
    padding: 8px;
    border-radius: 6px;
    transition: 0.2s ease;

}

input:focus,    /*Quando o usuário clica no campo, ele deve ter um feedback visual.*/ 
textarea:focus,
select:focus {
    border-color: var(--accent-dark);
    outline: 2px solid var(--accent-dark);
}
#butonadd {
    background-color: var(--accent);
    color: #fff;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}
#butonadd:hover {
background-color: var(--accent-dark);
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}